@import './global';

html {
  font-family: 'Tofino-book', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI', Roboto, 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

h1 {
  font-family: 'Tofino-semi-bold';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}
