@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Tofino-book', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI', Roboto, 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  margin: 0;
  padding: 0 $app-margin;
  cursor: url(../assets/cursor/cursor.png), auto;
}

ol,
ul {
  margin: 0 0 $app-margin 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// h1:not(:first-child),
// h2:not(:first-child),
// h3:not(:first-child),
// h4:not(:first-child) {
//   margin-top: 3rem;
// }

// h1 {
//   font-size: 2.5rem;
//   line-height: 1.1;
// }

// h2 {
//   font-size: 1.75rem;
// }

// h3 {
//   font-size: 0.875rem;
// }

// h4 {
//   font-size: 0.75rem;
//   margin-bottom: 1rem;
// }

// h5 {
//   font-size: 1.2rem;
//   margin-bottom: 1rem;
// }

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

section {
  margin: 2rem 0;
}

section > h2 {
  margin-top: 4rem;
}

@media screen and (min-width: 800px) {
  section {
    margin: 3rem 0;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: 'Tofino-semi-bold';
  font-size: 0.875rem;
}

.subtitle {
  font-family: 'Tofino-book';
  font-size: 0.75rem;
}

.subtitle-date {
  font-family: 'Tofino-light-italic';
  font-size: 0.75rem;
}

.copy {
  font-family: 'Tofino-book';
  font-size: 0.75rem;
}

.copy-light {
  font-family: 'Tofino-light';
  font-size: 0.75rem;
}

.copy-keywords {
  font-family: 'Tofino-book';
  font-size: 0.625rem;
}

.flex {
  display: flex;
  align-items: center;
}

.centered {
  justify-content: center;
}

.hoverable {
  cursor: url(../assets/cursor/cursor-hover.png), pointer;
}

.navigation-bar {
  position: fixed;
  top: $app-margin;
  right: $app-margin;
  justify-content: flex-end;
}

.navigation-icon:not(:last-child) {
  padding: 0.25rem 0.25rem;
  margin: 0 0.75rem;
}

.emoji {
  height: 1.5rem;
}

.tippy {
  padding: 0.5rem 0.25rem;
  text-align: center;
}

.main {
  padding-top: $app-margin * 3.5;
}

.project-container {
  height: 40vmax;
}

.project-box {
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}

.mobile-only {
  display: block;
}

@media screen and (min-width: 1100px) {
  .mobile-only {
    display: none;
  }
}
